.blogs {
    padding-block: 30px;

    .secNav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 2px solid #7f888f;
        margin-bottom: 20px;

        h2 {
            font-weight: 600;
            font-size: 1.3rem;
        }

        .right {
            cursor: pointer;
            font-size: 1.1rem;
            font-weight: 500;
            color: #f56a6a;
            text-transform: capitalize;
        }
    }

    .most_recent_post_section {
        max-width: 1440px;
        margin: 29px auto;

    }

    h1 {
        text-align: center;
        font-weight: 600;
        font-size: 2.5rem;
        font-family: sans-serif;
        margin-block: 40px;
    }

    .most_recents_post {

        display: grid;
        grid-template-columns: 70% 30%;
        gap: 20px;

        .most_recent_blog {
            width: 100%;
            box-shadow: 0px 0px 3px #9fa3a6;
            min-height: 400px;

            img {
                width: 100%;
                height: 65%;
            }

            small {
                text-transform: uppercase;
                color: #7f888f;

            }
        }

        .left {
            // grid-column: 1/3;

            .most_recent_blog {
                height: 100%;

                img {
                    height: 70%;
                }

                small {
                    font-size: 1rem;
                }


            }
        }

        .right {
            display: flex;
            gap: 20px;
            flex-direction: column;

        }
    }

    .customer_service {
        max-width: 1440px;
        margin: 0 auto;
        font-family: sans-serif;
        padding-block: 30px;

        .customer_service_blog_container {
            display: flex;
            height: 400px;
            gap: 30px;
            padding-block: 20px;
            justify-content: space-between;

            .customer_service_blog {
                box-shadow: 0px 0px 3px #9fa3a6;
                max-width: 390px;

                img {
                    height: 50%;
                    width: 100%;
                    transform: scale(1);
                    transition: all 2s;

                    :hover {
                        transform: scale(2);
                    }
                }

                .detail {
                    height: 50%;
                    padding: 10px 10px;

                    small {
                        text-transform: uppercase;
                        color: #7f888f;
                    }

                    h2 {
                        margin: 10px 0px;
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

}

.blogs>h2 {
    text-align: center;
    font-size: 2rem;
    margin-block: 50px;
}

@media screen and (max-width: 1200px) {
    .blogs {
        .most_recent_post_section {
            .most_recents_post {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .blogs {
        .most_recent_post_section {
            .most_recents_post {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .blogs {
        .customer_service {
            .customer_service_blog_container {
                height: unset;
                flex-direction: column;
                align-items: center;

                .customer_service_blog {
                    max-width: unset;
                    width: 100%;
                }
            }
        }
    }
}