.homepage {
    .blogs {
        max-width: 1440px;
        margin: 0 auto;
        padding-block: 40px;

        h2 {
            font-size: 35px;
            width: fit-content;
            border-bottom: 5px solid #f56a6a;
            margin-inline: 30px;
            padding: 5px 0px;
        }
    }

    .newsSection {
        max-width: 1440px;
        margin: 0 auto;

        h2 {
            font-size: 35px;
            width: fit-content;
            border-bottom: 5px solid #f56a6a;
            padding: 5px 0px;
            margin-inline: 30px;
        }
    }

    .newsContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}